<div class="cart-container">
  <div *ngIf="cartItems.length > 0; else empty">
    <h3>Ваш заказ:</h3>

    <table>
      <tbody>
      <tr *ngFor="let cartItem of cartItems; let i = index">
        <td><img src={{cartItem.images[0].path}} alt="photo"> </td>
        <td>{{ cartItem.title }}</td>
        <td>
          <button class="btn" (click)="delete(cartItem)">Удалить</button>
        </td>
        <td>{{ cartItem.price }} грн.</td>
      </tr>
      </tbody>
    </table>
    <b class="right">Total: {{totalPrice}} грн.</b>
  <h3 class="text-center">Оформление заказа:</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control">
      <label for="name">ФИО</label>
      <input id="name" type="name" formControlName="name" placeholder="Фамилия Имя Отчество">
      <div *ngIf="form.get('name').touched && form.get('name').invalid" class="validation">
        <small *ngIf="form.get('name').errors.required">Поле не может быть пустым.</small>
      </div>
    </div>


    <div class="form-control">
      <label for="phone">Телефон</label>
      <input id="phone" type="phone" formControlName="phone" placeholder="+38 (0__) ___ __ __">
      <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class="validation">
        <small *ngIf="form.get('phone').errors.required">Поле не может быть пустым.</small>
      </div>
    </div>

    <div class="form-control">
      <label for="address">Город и номер отделения Новой Почты</label>
      <input id="address" type="address" formControlName="address" placeholder="Киев НП №1">
      <div *ngIf="form.get('address').touched && form.get('address').invalid" class="validation">
        <small *ngIf="form.get('address').errors.required">Поле не может быть пустым.</small>
      </div>
    </div>

    <div class="form-control">
      <label>Способ оплаты:</label>
      <select formControlName="payment">
        <option value="Cash">Наличные</option>
        <option value="Card">Оплата на карту</option>
      </select>
    </div>

    <button type="submit" class="btn" [disabled]="form.invalid || submitted">Купить</button>


  </form>
  </div>
  <ng-template #empty>
    <h3>Ваша корзина пока пуста.</h3>
    <a [routerLink]="['']"><button class="btn cart-btn">Вернуться в магазин</button></a>
  </ng-template>

  </div>




